name: Continuous Integration

on:
  push:
    # Ignore changes in documentation and config
    paths-ignore: 
      - '**/LICENSE'
      - '**/renovate.json'
      - '**/*.md'
      - '**/*.txt'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: 25
        cache: 'maven'
        
    - name: Build and test all snippets
      run: mvn --batch-mode test
