name: Continuous Integration

on:
  push:
    # Ignore changes in documentation and config
    paths-ignore: 
      - '**/LICENSE'
      - '**/renovate.json'
      - '**/*.md'
      - '**/*.txt'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17
        cache: 'maven'
        
    - name: Build and Test archunit-enum-reproducer
      working-directory: archunit-enum-reproducer
      run: mvn -B test --file pom.xml
            
    - name: Build and Test archunit-equalsverifier-combined
      working-directory: archunit-equalsverifier-combined
      run: mvn -B test --file pom.xml

    - name: Build and Test cdi-generic-type-producer
      working-directory: cdi-generic-type-producer
      run: mvn -B verify --file pom.xml

    - name: Build and Test jsonb-versioning-experiment
      working-directory: jsonb-versioning-experiment
      run: mvn -B test --file pom.xml

    - name: Build and Test server-sent-events-sample
      working-directory: server-sent-events-sample
      run: mvn -B verify --file pom.xml

